<!DOCTYPE html>
<html lang="en">
<head>
<link href="vendor/bootstrap.css" rel="stylesheet" media="screen">
<link href="jndex.css" rel="stylesheet" media="screen">

<script type="text/javascript" src="vendor/jquery.js"></script>
<script type="text/javascript" src="vendor/underscore.js"></script>
<script type="text/javascript" src="vendor/backbone.js"></script>
<script type="text/javascript" src="jndex.js"></script>

</head>
<body>
<div id="jndex">
    <div id="header"><a href="https://github.com/dzaman/jndex">jndex</a></div>
    <ul id="breadcrumb" class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a> <span class="divider">/</span></li>
        <li class="active">Data</li>
    </ul>
    <div id="content">
        <div class="row-fluid">
            <ul id="thumbnails" class="thumbnails"> 
                <!--
                <li class="span3 thumbnail">
                    <img src="http://adurosolutions.com/jndex/3q2wfv.jpg" alt="">
                    <span class="title"><a href="http://adurosolutions.com/jndex/3q2wfv.jpg">business-cat.jpg</a></span>
                    <span class="date">04/11/2011 02:29</span>
                </li>
                <li class="span3 thumbnail">
                    <img src="http://adurosolutions.com/jndex/dir1/sub2/31o6.jpg" alt="">
                    <span class="title"><a href="http://adurosolutions.com/jndex/dir1/sub2/31o6.jpg">MostInterestingCatInTheWorld.jpg</a></span>
                    <span class="date">04/11/2011 02:29</span>
                </li>
                <li class="span3 thumbnail">
                    <img src="http://cl.ly/QMKw/leopard-folder.png">
                    <span class="title"><a href="http://adurosolutions.com/jndex/dir1/">dir1</a></span>
                    <span class="date">04/11/2011 02:29</span>
                </li>
                <li class="span3 thumbnail">
                    <img src="http://adurosolutions.com/jndex/dir2/sub1/3p8000.jpg" alt="">
                    <span class="title"><a href="http://adurosolutions.com/jndex/dir2/sub1/3p8000.jpg">Dwight K. Schrute</a></span>
                    <span class="date">04/11/2011 02:29</span>
                </li>
                -->
            </ul>
        </div>
    </div>
</div>

<!-- templates -->
<script type="text/template" id="file-template">
    <img src="http://adurosolutions.com/jndex/3q2wfv.jpg">
    <span class="title"><a href="<%- url %>"><%- filename %></a></span>
    <span class="date"><%- date %></span>
</script>

</body>
</html>
